/* Put your css in here */

html, body {
    height: calc(100%);
}

.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    background: gray;
    height: -moz-calc(100%);
    height: -webkit-calc(100%);
    height: calc(100%);
}

#map-wrapper{
    height: 100%;
    background-color: #383838;
    z-index: 99999;
    /*width: 100%;*/
    position: relative;
}

.map_container{
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

#map{
    height: 100%;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.listContainer{
    /*width: 100%;*/
    height: -moz-calc(100%);
    height: -webkit-calc(100%);
    height: calc(100%);
    background: cornflowerblue;
    overflow-y: auto;
}

.momentContainer{
    height: -moz-calc(90%);
    height: -webkit-calc(90%);
    height: calc(90%);

}

@media (max-width: 768px) {
    #map-wrapper{
        height: 300px;
    }
    .listContainer{
        height: -moz-calc(100% - 300px);
        height: -webkit-calc(100% - 300px);
        height: calc(100% - 300px);
    }

}


